@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #fff;
    font-family: lora, sans-serif;
    font-weight: 300;
    color: #432616;
}

h1, h2 {
    font-family: roboto, sans-serif;
    text-transform: uppercase;
}

/* header */

header {
    position: sticky;
    top: 0;
    padding-bottom: 50px;
    background-color: #fff;
    border-bottom: 1.5px solid #432616;
}

#logo {
    float: left;
    font-size: 100%;
    color: #432616;
    margin-left: 0.5rem;
}

#menu, #logo {
    line-height: 50px;
}


#menu li {
    float: right;
    list-style-type: none;
    margin-top: 5px;
    margin-right: 35px;
    font-size: 95%;
    text-transform: uppercase;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    font-size: 110%;
}

/* hero banner */

.hero-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    background-color: #faf0dc;
    padding-top: 0.2rem;
}


.hero-image img {
    max-width: 100%;
    height: auto;  
}

.welcome {
    width: 20rem;
    padding: 0px;
    margin: auto; 
    text-align: left; 
    font-size: 1rem;
}

.description {
    font-size: 1.3rem;
}

/* about section */

.about-section {
    padding: 3rem;
}

.about-section h2 {
    text-align: center;
    border-bottom: 1px solid #432616;
    padding: 0.5rem;
}

.about-section ul {
    margin: 1rem;
}

.about-section li {
list-style: none;
padding: 1rem 0;
}

.image-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.image-container div {
    width: 100%; 
    height: 100%;
    padding: 1px;
}

.image-container img {
    width: 100%; 
    height: 100%;
}

/* gallery for our cats */

.gallery {
    background-color: #faf0dc;
    padding: 3rem;
}

.gallery h2 {
    text-align: center;
    border-bottom: 1px solid #432616;
    padding: 0.5rem;
}

#birth {
    font-style: italic;
}

table {
    text-align: center;
    width: 80%;
    margin: 0.5rem auto;
    padding: 1.5rem;
}

th {
    text-transform: uppercase;
}

table img {
    height: 18.75rem;
    width: 12.5rem;
}

/* form section */

.form-section {
    padding: 3rem;
}

.form-section h2 {
    text-align: center;
    border-bottom: 1px solid #432616;
    padding: 0.5rem;
}

  
.adoption-form {
    background-color: #faf0dc;
    padding: 1.5rem; 
    border: 2px solid #432616;
    max-width: 400px;
    margin: 2rem auto;
    
}

.adoption-form h3 {
    text-align: center;

}

input {
    width: 100%;
    padding: 0.8rem 1.3rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
  }

textarea {
    width: 100%;
    padding: 1.5rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
  }

  /* footer */

footer {
    background-color: #faf0dc;
    width: 100%; 
    border-top: 2px solid #432616;
    border-bottom: 2px solid #432616;
}

.footer-content {
    padding-bottom: 1.5rem;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1%; 
    padding: 1%;
    color: #432616;
}

.contact {
    text-align: center;
    text-decoration: solid;
}

.contact > li {
    display: inline;
    padding: 0.5rem;
}

.contact > i {
    color: #432616;
}

/* media queries */

 @media screen and (max-width:950px) {
   
    header {
        position: static;
    }
    
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    .hero-container {
        flex-direction: column;
    }

}

@media screen and (max-width:600px) {

.image-container {
    display: block;
}

.contact > li {
    display: block;
    padding: 0.5rem;
}

}