@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #fff;
    font-family: lora, sans-serif;
    font-weight: 300;
    color: #432616;
}

/* headings and logo */

h1, h2 {
    font-family: roboto, sans-serif;
    text-transform: uppercase;
}

#logo {
    float: left;
    font-size: 100%;
    color: #432616;
    margin-left: 0.5rem;
   
}

#menu, #logo {
    line-height: 50px;
}

/* navigation links */

#menu li {
    float: right;
    list-style-type: none;
    margin-top: 5px;
    margin-right: 35px;
    text-transform: uppercase;
}

#menu a {
    text-decoration: none;
    color: inherit;
    
}

#menu a:hover {
    font-size: 110%;
}

/* hero banner */

.hero-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    background-color: #faf0dc;

}

.hero-image {
    max-width: 100%;
}

.hero-image img {
    max-width: 100%;
    height: 100%;
    
}

.welcome {
    width: 20rem;
    padding: 0px;
    margin: auto; 
    text-align: left; 
    font-size: 1em;
}

.description {
    font-size: 1.3em;
}

.about-section {
    padding: 1rem;
}

.about-section h2 {
    text-align: center;
    border-bottom: 1px solid #432616;
    padding: 0.5rem;
}

.about-section ul {
    margin: 1rem;
}

.about-section li {
list-style: none;
}


/* gallery */

.gallery {
    background-color: #faf0dc;
    padding: 1rem;
}

.gallery h2 {
    text-align: center;
    border-bottom: 1px solid #432616;
    padding: 0.5rem;
}

#birth {
    font-style: italic;
}

table {
    text-align: center;
    width: 80%;
    margin: 0.5rem auto;
    padding: 1.5rem;
}

th {
    text-transform: uppercase;
}

table img {
    height: 18.75rem;
    width: 12.5rem;
}

.form-section {
    padding: 1rem;
}

.form-section h2 {
    text-align: center;
    border-bottom: 1px solid #432616;
}

  
.adoption-form {
    background-color: #faf0dc;
    padding: 1.5rem; 
    border: 2px solid #432616;
    max-width: 400px;
    margin: 2rem auto;
    
}

.adoption-form h3 {
    text-align: center;

}

input {
    width: 100%;
    padding: 0.8rem 1.3rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
  }


  footer {
    background-color: #faf0dc;
    height: 6.25rem;
    border-top: 2px solid #432616;
    border-bottom: 2px solid #432616;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%; 
    padding: 1%;
    color: #432616;
}


  @media screen and (max-width:950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    .hero-container {
        flex-direction: column;
    }



}