@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: bisque;
    font-family: roboto, sans-serif;
    font-weight: 300;
}

/* headings and logo */

h1, h2 {
    font-family: roboto, sans-serif;
    text-transform: uppercase;
}

#logo {
    float: left;
    font-size: 130%
}