@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #fff;
    font-family: lora, sans-serif;
    font-weight: 300;
    color: #432616;
}

/* headings and logo */

h1, h2 {
    font-family: roboto, sans-serif;
    text-transform: uppercase;
}

#logo {
    float: left;
    font-size: 100%;
    color: #432616;
    margin-left: 0.5rem;
   
}

#menu, #logo {
    line-height: 50px;
}

/* navigation links */

#menu li {
    float: right;
    list-style-type: none;
    margin-top: 5px;
    margin-right: 35px;
    text-transform: uppercase;
}

#menu a {
    text-decoration: none;
    color: inherit;
    
}

#menu a:hover {
    font-size: 110%;
}

.active {
    font-size: 115%;
}

/* hero banner */

.container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    background-color: #faf0dc;

}

.image {
    max-width: 100%;
}

.image img {
    width: 100%;
    height: 100%;
    
}


.welcome {
    width: 20rem;
    padding: 0px;
    margin: auto; 
    text-align: left; 
}

.description {
    font-size: 1.3em;
}


.about {
    background-color: red;
    margin: 2rem auto;
    width: 60%;
}

.about h2 {
    text-align: center;
    padding-bottom: 1rem;
}

.about p {
    padding: 1rem 0.5rem;
}

.gallery {
    text-align: center;
    padding-bottom: 1rem;
}

table {
    width: 80%;
    margin: 1rem auto;
}

th {
    text-transform: uppercase;
}

th, td {
    padding: 15px;
}

/* temporary border for table */

table, th, td {
    border: 1px solid #432616
}